*{
  box-sizing: content-box;
}

header, footer{
  background: rgb(226, 226, 226);
}

button{
  border-radius: 2px;
  font-size: 10px;
  font-family: sans-serif;
  background: rgb(28, 175, 222);
  color:rgba(255, 255, 255, .87);
  border: 0;
  padding: 8px;
}

header, main, footer{
  padding: 16px;
}

h1{
  text-transform: uppercase;
}

header h1{
  color:rgb(175, 42, 186);
  font-family: sans-serif;
}

main h1{
  color:rgb(233, 105, 65);
  font-family: sans-serif;
}

footer h1{
  color:rgb(30, 98, 221);
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  color:rgb(38, 38, 38);
}
